body{
    background-color: rgb(0, 0, 0);
    background-image: url(https://static-ca-cdn.eporner.com/photos/958106/alexis-texas-ass-880x660.jpg);
    background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 100% 100%;
    
}
.title{
    text-align: center;
    color: rgb(255, 21, 196);
    font-size: 100px;
}
 .container{
 text-align: center; 
 color: rgb(199, 2, 182);
}

.sub{
    font-size: 50px;
}
.card-title{
    color: black;
}
.card{
    margin-bottom: 20px;
    border: 4px solid transparent;
}
.card:hover{
    border: 4px solid rgb(199, 2, 182);
}
.cruz{
    float: right;
    width: 25px;
    height: 25px;
    font-size: 10px;
}